.calculadora{
    width:500px;
    height: 650px;  
    border: 5px solid #000;
    margin:  auto;
    border-radius: 30px;
    background-color: #67d5e4;
    box-shadow: 3px 3px 20px 1px rgb(80, 80, 80);
}
body{
    background-color: lightblue
}

#tela #resultado{
    border: 2px solid #000;
    margin: 20px 20px 0 20px;
    width: 90%; 
    height: 90px;
    border-radius: 10px;
    background-color: white;
    font-size: 2em;
}

#teclado{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 90%;
    height: 75%;
    margin: 20px auto;
    border: 2px solid #000;
    border-radius: 12px;
}

.botão{
    border-color: black;
    font-size: 1.5em;
    background-color: lightgray
}
#topleft{
    border-top-left-radius: 10px;
}
#topright{
    border-top-right-radius: 10px;
}
#downleft{
    border-bottom-left-radius: 10px;
}
#downright{
    border-bottom-right-radius: 10px;
    background-color: rgb(97, 190, 221);
}
.number{
    background-color: white;
}
.number:active,
.botão:active,
#downright:active {
    background-color: lightslategray;
}
